@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif
}
html, body{
  height: 100vh;
  width: 100vw;
  background-color: rgb(230, 230, 230);
}
body{
  background: url('C:\Users\samys\OneDrive\Documentos\GitHub\projeto-rede\projeto\pacote-d013\imagens\fundo-madeira.jpg')
  no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  
}
main{
  position: relative;
  height: 100vh;
  
  
}
section#telefone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: 627px;
  width: 311px;
  
  background: url('C:\Users\samys\OneDrive\Documentos\GitHub\projeto-rede\projeto\pacote-d013\imagens\frame-iphone.png');
}
iframe{
  position: relative;
  top: 80px;
  left: 22px;
  width: 269px;
  height: 471px;
}
section#rede{
  text-align: right;
}
section#rede img{
  width: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 2px 5px 7px rgb(233, 226, 226);
  box-sizing: border-box;
  
}
section#rede img:hover{
  border: 4px solid darkgray;
  transform: translate(-2px, 3px);
  box-shadow: 5px 8px 10px black;
  transition: transform 0.5s;
}
